<form>
  <div class="row">
    <div class="six columns">
      <label>Your Business</label>
      {{input type='text' required=true class='u-full-width' placeholder='Foobar LLC' value=invoice.entityName}}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label>Your Client</label>
      {{input type='text' class='u-full-width' placeholder='Bankcorp' value=invoice.clientName}}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label>Invoice ID</label>
      {{input type='text' class='u-full-width' placeholder='42' value=invoice.invoiceID}}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label>Date Issued</label>
      {{input type='text' placeholder='2015-01-01' value=invoice.issueDate}}

      <label>Due Date</label>
      {{input type='text' placeholder='2015-01-15' value=invoice.dueDate}}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label>Subject</label>
      {{input type='text' class='u-full-width' placeholder='Software development and consulting services' value=invoice.subject}}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label>Paid</label>
      {{input type='date' value=invoice.paidAt}}
    </div>
  </div>

  <h5>Items</h5>

  <table class="u-full-width">
    <thead>
      <tr>
        <th>Item Type</th>
        <th>Description</th>
        <th>Quanity</th>
        <th>{{currencySymbol}} Unit Price</th>
        <th>{{currencySymbol}} Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each item in invoice.items}}
        <tr>
          <td>
            {{view 'select' class='u-full-width' content=itemTypeOptions value=item.temType}}
          </td>
          <td>
            {{input type='text' class='u-full-width' placeholder='Development on new features' value=item.description}}
          </td>
          <td>
            {{input type='text' class='u-full-width' placeholder='12.5' value=item.quantity}}
          </td>
          <td>
            {{input type='text' class='u-full-width' placeholder='100.00' value=item.unitPrice}}
          </td>
          <td>
            <button class="u-full-width button">{{currencySymbol}} {{item.amount}}</button>
          </td>
          <td>
            <button {{action 'removeItem' item}}>{{fa-icon 'times'}} Remove Item</button>
          </td>
          <td></td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <button class="button" {{action 'newItem'}}>{{fa-icon 'plus'}} Add Item</button>

  <h5 class="u-pull-right">Amount Due {{currencySymbol}} {{invoice.amountDue}}</h5>
  <br>

  <hr>

  <h5>Notes</h5>
  {{textarea class='u-full-width' value=invoice.notes}}

  <br>
  <br>
  <br>

  <button class="button button-primary" {{action 'save'}}>{{fa-icon 'save'}} Save</button>
  <button class="button" {{action 'generateInvoicePdf'}}>{{fa-icon 'fa-file-pdf-o'}} Generate PDF</button>
</form>
